trigger:
  branches:
    include:
      - master
      - main
      - develop
      - feature/*
  tags:
    exclude:
      - v*

pool:
  # vmImage: 'ubuntu-latest'
  vmImage: 'windows-latest'

variables:
  - name: DOTNET_CLI_TELEMETRY_OPTOUT
    value: 1
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: 1

workspace:
  clean: all

steps:
  - checkout: self
    persistCredentials: true
    clean: true

  - task: PowerShell@2
    displayName: "Use JDK11 by default"
    inputs:
      targetType: 'inline'
      script: |
        $jdkPath = $env:JAVA_HOME_11_X64
        Write-Host "##vso[task.setvariable variable=JAVA_HOME]$jdkPath"

  - task: NuGetToolInstaller@1
    displayName: Install Nuget 5x
    inputs:
      versionSpec: '5.*'
      checkLatest: true

  - task: DotNetCoreCLI@2
    displayName: "Install tool: dotnet-sonarscanner"
    inputs:
      command: "custom"
      custom: "tool"
      arguments: "update --global dotnet-sonarscanner"

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: 'restore'
      projects: '**/*.csproj'

  - task: DotNetCoreCLI@2
    displayName: Initialize Sonar Scanner
    inputs:
      command: 'custom'
      custom: 'sonarscanner'
      arguments: 'begin /o:"coenm-github" /k:"coenm_FlexKidsScheduleExtractor" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.branch.name=$(Build.SourceBranchName)'

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      command: 'build'
      projects: '**/*.sln'
      arguments: '--configuration Release --verbosity normal'

  - task: DotNetCoreCLI@2
    displayName: Test
    inputs:
      command: test
      projects: '**/*[Tt]est/*.csproj'
      arguments: '--configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:ExcludeByAttribute=CompilerGenerated --logger trx'

  - task: DotNetCoreCLI@2
    displayName: Finalize Sonar Scanner
    inputs:
      command: 'custom'
      custom: 'sonarscanner'
      arguments: 'end'
