trigger:
  branches:
    include:
      - master
      - main
      - develop
      - feature/*
      - release/*
  tags:
    exclude:
      - v*

pool:
  name: windows-latest

variables:
  - name: DOTNET_CLI_TELEMETRY_OPTOUT
    value: 1
  - name: DOTNET_SKIP_FIRST_TIME_EXPERIENCE
    value: 1

workspace:
  clean: all

steps:
  - checkout: self
    persistCredentials: true
    clean: true

  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: '5.*'
      checkLatest: true

  - task: DotNetCoreCLI@2
    inputs:
      command: 'restore'
      projects: '**/*.csproj'

  - task: DotNetCoreCLI@2
    inputs:
      command: 'build'
      projects: '**/*.sln'

  - task: DotNetCoreCLI@2
    displayName: Test
    inputs:
      command: test
      projects: '**/*.sln'
      arguments: '--configuration $(BuildConfiguration) /p:CollectCoverage=true "/p:CoverletOutputFormat=\"opencover,cobertura\"" /p:ExcludeByAttribute=CompilerGenerated /p:CoverletOutput=$(Build.SourcesDirectory)/coverage/ /p:MergeWith=$(Build.SourcesDirectory)/coverage/ --no-restore --no-build --logger trx;LogFileName=$(Common.TestResultsDirectory)/run.trx'

  # Run unittests with code coverage.
  - task: DotNetCoreCLI@2
    displayName: Test
    inputs:
      command: test
      projects: '**/*[Tt]ests/*.csproj'
      arguments: '--configuration $(BuildConfiguration) /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura /p:ExcludeByAttribute=CompilerGenerated --no-restore --no-build --logger trx'
